@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.breadcrumbs .breadcrumb-item:after {
    content: '/';
    @apply text-sm ml-2 text-orange-700;
}

.breadcrumbs .breadcrumb-item:last-of-type:after {
    content: '';
}

.breadcrumbs .router-link-exact-active,
.breadcrumbs .router-link-active {
    @apply text-orange-500 font-medium;
}

.breadcrumbs .router-link-exact-active:hover,
.breadcrumbs .router-link-active:hover {
    @apply cursor-default pointer-events-none;
}


html, #menuCategories {
  scroll-behavior: smooth;
}
